
// Breakpoints
$breakpoint-tablet-sm: 641px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-hd: 1280px;
$breakpoint-max: 1400px;

//Colors
$color-white: #fff;
$color-black: #000;

$color-off-white: #f8f8f8;
$color-light-grey: #ccc;