
// Breakpoints
$breakpoint-tablet-sm: 641px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-hd: 1280px;
$breakpoint-max: 1400px;

//Colors
$color-white: #ffff;
$color-black: #000;
$color-navy: #273376;

$color-grey-900: #2e3133;
$color-grey-800: #494c4f;
$color-grey-700: #72757e;
$color-grey-600: #9ca0a6;
$color-grey-500: #d2d8e0;

$color-red: #b2441e;
$color-orange: #eba200;
$color-green: #00bb7e;

$font-primary: "Helvetica Neue", sans-serif;