<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=5.0">

  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#ffffff">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#ffffff">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff">

  <title>First &amp; Third test</title>
  <meta name="description" content="Shopify Test">

  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" type="text/css" href="/vendor/slick.css" />
</head>

<body class="">
  <main id="main" role="main">
    {% block content %}{% endblock %}
  </main>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/vendor/slick.min.js"></script>
  <script type="text/javascript" src="/script.js"></script>
</body>

</html>